--commas inline
--enable blockComments
--header "Copyright {year} Itty Bitty Apps Pty Ltd"
--ifdef no-indent
--indent 4
--importgrouping testable-bottom
--wrapcollections before-first
--wrapparameters before-first
